annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
audioop-lts==0.2.2
audioread==3.1.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
decorator==5.2.1
fastapi==0.136.1
h11==0.16.0
idna==3.13
joblib==1.5.3
lazy-loader==0.5
librosa==0.11.0
llvmlite==0.47.0
msgpack==1.1.2
numba==0.65.1
numpy==2.3.2
packaging==25.0
platformdirs==4.3.8
pooch==1.9.0
pretty_midi==0.2.10
pycparser==2.22
pydantic==2.13.4
pydantic_core==2.46.4
pydub==0.25.1
requests==2.33.1
resampy==0.4.3
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
soundfile==0.13.1
soxr==1.1.0
standard-aifc==3.13.0
standard-chunk==3.13.0
standard-sunau==3.13.0
starlette==1.0.0
threadpoolctl==3.6.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.14.1
urllib3==2.5.0
uvicorn==0.46.0
wheel @ file:///opt/homebrew/Cellar/python%403.13/3.13.2/libexec/wheel-0.45.1-py3-none-any.whl#sha256=b9235939e2096903717cb6bfc132267f8a7e46deb2ec3ef9c5e234ea301795d0
